@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  /* margin: 0 auto; */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.header {
  text-align: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.book-list {
  margin-top: 20px;
  width: 95%;
}

.book-list .list-title {
  margin-top: 6px;
  width: 90%;
  border-radius: 5px;
}

#lsOutput {
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.list-output .book {
  position: relative;
  width: 97%;
  margin: 3px auto;
  border-radius: 3px;
  display: flex;
}

.list-output .book span {
  justify-self: normal;
  border: solid green;
  padding: 5px 9px;
}

.list-output .book:first-child {
  margin-top: 10px;
}

.list-output .book:last-child {
  margin-bottom: 10px;
}

div.list-output .book:nth-of-type(odd) {
  background-color: #ebe6e6;
}

.list-output .book .DelBtn {
  position: absolute;
  align-self: flex-end;
  right: 0;
  bottom: 9px;
}

.list-output .book .DelBtn button {
  padding: 5px 18px;
}

#book {
  display: flex;
}

.bookList-text {
  display: flex;
}

.book .item1 {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.list-title h3::after {
  content: '';
  height: 2px;
  background-color: #000;
  width: 50px;
}

.small {
  font-size: 14px;
}

.removeBtn {
  align-self: flex-end;
  padding: 3px 7px;
  border: 1px solid #db2d05;
  border-radius: 5px;
  box-shadow: 3px 3px 0 0 #c9c5c5;
  color: #db2d05;
}

.removeBtn:hover {
  background-color: #db2d05;
  color: #fff;
}

.main-container {
  border: solid red;
}
