@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  /* margin: 0 auto; */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.header {
  border: solid black;
  text-align: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.book-list {
  border: 2px solid #000;
  margin-top: 20px;
  width: 90%;
}

.book-list .list-title {
  margin-top: 6px;
  width: 90%;
  background-color: rgb(243, 233, 233);
  border-radius: 5px;
}

#lsOutput {
  border: solid green;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

#book {
  display: flex;
}

.bookList-text {
  display: flex;
}

/* .list-title h3::after {
  content: '';
  height: 2px;
  background-color: #000;
  width: 50px;
} */

.removeBtn {
  align-self: flex-end;
  padding: 3px 7px;
  border: 1px solid #db2d05;
  border-radius: 5px;
  box-shadow: 3px 3px 0 0 #c9c5c5;
  color: #db2d05;
}

.removeBtn:hover {
  background-color: #db2d05;
  color: #fff;
}

.main-container {
  border: solid red;
}
